<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="2.0.2" targetFramework="net461" />
  <package id="DevExpress.Data" version="19.2.12" targetFramework="net461" />
  <package id="DevExpress.Data.de" version="19.2.12" targetFramework="net461" />
  <package id="DevExpress.Xpo" version="19.2.12" targetFramework="net461" />
  <package id="DevExpress.Xpo.de" version="19.2.12" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="4.8.0" targetFramework="net461" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net461" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net461" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net461" />
  <package id="MaterialSkin.2" version="2.1.4" targetFramework="net461" />
  <package id="Microsoft.Report.Viewer" version="11.0.0.0" targetFramework="net461" />
  <package id="Microsoft.ReportViewer.WinForms" version="10.0.40219.1" targetFramework="net461" />
  <package id="MvvmLightLibs" version="5.4.1.1" targetFramework="net461" />
  <package id="Syncfusion.Licensing" version="19.1.0.67" targetFramework="net461" />
  <package id="Syncfusion.SfChart.WPF" version="19.1.0.67" targetFramework="net461" />
  <package id="System.Windows.Interactivity.WPF" version="2.0.20525" targetFramework="net461" />
</packages>